$color-primary: green;
body{
	margin: 0px;
	padding: 0px;
}
.header{
	$header-h: 30px;
	background: #ddd;
	display: flex;
	height: $header-h;
	line-height: $header-h;
	.left-btn,.title,.right-btn{
		flex: 1;
		text-align: center;
	}
}

.home-layer{
	.total-layer{
		text-align: center;
		background: #ddd;
		.view-list>img{
			width: 40%;
			max-height: 100px;
		}
		.view-list>ul{
			list-style: none;
		}
	}
}